<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title-heading">Shopping Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="cart-header">
        <h1 class="title-heading">Shopping Cart</h1>
        <a href="/displayProducts"><button type="button" class="button">GO Back</button></a>
        <div class="button-container">
            <a href="/placeOrder"><button type="button" class="button">Place order</button></a>
        </div>
    </div>
    <div class="product-list">

        <!-- contents of cart_contents from session cart:  @products_api.route('/cart') -->

        {% if cart_contents %}
            {% for item in cart_contents %}
                <div class="product">
                    <!-- display product details -->
                    {% if cart_contents %}
                        <div class="product-details">
                            <h2 class="head">{{ item[1] }}</h2>
                            <p class="para">Description: {{ item[3] }}</p>
                            <p class="para">Price: ${{ item[2] }}</p>
                            <p class="para">Rating: {{ item[5] }}</p>
                            <p class="para">Quantity Available: {{ item[6] }}</p>
                            <!-- item[9] is key calculated in def add_to_cart(title): to avoid duplicates -->
                            <p class="para">Quantity in Cart: {{ item[9] }}</p>
                            <!-- directs to @products_api.route('/remove_from_cart/<string:title>', methods=['POST']) -->
                            <!-- remove from a cart by TITLE as item[1] -->
                            <form action="/remove_from_cart/{{ item[1] }}" method="post">
                                <button type="submit" class="button">Remove from Cart</button>
                            </form>
                            <!-- directs to INDEX API for GO BACK button -->
                            <a href="/displayProducts"><button type="button" class="button">GO Back</button></a>
                        </div>
                    {% endif %}
                    <div class="side-image">
                        <img src="{{ item[4] }}" alt="{{ item[1] }}">
                    </div>
                </div>
                
            {% endfor %}
        {% else %}
        <!-- if empty cart -->
            <div class="product-order-items">
                <img src="https://media1.tenor.com/m/rec5dlPBK2cAAAAd/mr-bean-waiting.gif" alt="cart empty" />
                <p>MR B Waiting to copy your cart items... :)</p>
            </div>
        {% endif %}
    </div>
    
    
</body>
</html>
